<div class="todo-header">
  <% if user_signed_in? %>
    <% if current_user.id == todo_list.user.id %>
      <%= link_to "Update", edit_todo_list_path(todo_list), class: "btn-update" %>
      <%= link_to "X", todo_list_path(todo_list), class: "btn-delete", method: :delete %>
    <% end %>
  <% end %>
</div>
