<div class="list_items">
	<ul>
		<% @todo_list.list_items.each do |list_item| %>
			<li>
				<%= list_item.description %>
				<span>
					<% if @todo_list.user.id == current_user.id %>
						<%= link_to "x", todo_list_item_path(@todo_list, list_item), class: "delete_item", method: :delete %>
					<% end %>
				</span>
			</li>
		<% end %>
	</ul>

	<% if @todo_list.user.id == current_user.id %>
		<button class="btn-add-item">+ item</button>
		<div class="new_form"></div>
	<% end %>
</div>