html, body {
	margin: 0;
	width: 100%;
	background: url("brick_blur5.jpeg");
	background-color: #e0e0e0;
	color: #444;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 800px;
	margin: 0 auto;
}

