/*
	- Display delete btn and update inside a mini header
		- delete top right
		- update top left
	- Display an image
	- Display the title
	- Display List Items
	- Display button to add content dynamically
*/


/*
  Todo List placeholder to display a page title and a card with todo main information.
*/
.todo-container {
	display: block;
	margin-bottom: 10px;
	width: 50%;
	float: left;
}
/*
  Creates a white card, to display the todo item main informations:
    - Image displaying the Graffiti
    - Header menu, to delete or updatea todo list
    - Title
    - Todo List items
*/
.card {
  background-color: #fff;
  margin: 5px;
  box-shadow: 0 1px 0.125em #BBB;
  position: relative;

  img {
    width: 100%;
    height: 300px;
  }
}

.card-container {
  padding: 10px;

  .title {
    font-size: 1.6em;
    text-align: center;
  }

  ul {
    margin-right: 10px;
    
    li {
      width: 100%;
      
      span {
        float: right;
        
        a {
          color: #999;
        }
      }
    }
  }
}

/*
  Card header displays:
    - the update button in the top left side of the card
    - the delete button in the top right side of the card
*/
.card-header {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #fff;

  .btn-update {
    margin: 5px;
    float: left;
  }

  .btn-delete {
    margin: 5px;
    float: right;
  }
}
/*
  - Displays a button add item as a block in the bottom of the card
*/
.btn-add-list-item {
  display: block;
  margin: 10px auto;
}

/* 
  - Displays a list item form aligned in the bottom center of the card
*/
.list-item-form form {
  display: block;
  margin: 10px;
  text-align: center;
}

/*
  The general menu is used in multiple forms, to create or edit a todo list
    - Has an form inside general menu 
    - Include a padding between each div inside of general menu
      to separate the inputs fields provided by devise.
    - Include a margin right into labels to make a distance from input field
*/
.general-menu {
  display: block;
  width: 100%;
  padding: 10px;

  div {
    padding: 10px;
    
    label {
      margin-right: 20px;
    }
  }
}
