@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);

html,
body {
	font-family: 'Londrina Solid', cursive;
}

header {
	font-family: 'Nunito', sans-serif;
}
