<div class="todo">
	<div class="card">
		<%= render partial: 'todo_lists/partials/todo_header', locals: { todo_list: todo_list }%>

		<%= image_tag("sample.jpg", class: "img-main") %>

		<%= render partial: 'todo_lists/partials/todo_items', locals: { todo_list: todo_list } %>
	</div>
</div>